@model IEnumerable<BugTracker.Models.Projects>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

<h2> Projects Index</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Create New", "Create")
        </button>
    </p>


    <table class="stripe hover table">
        <thead>
            <tr class="warning">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th></th>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    <button class="btn-xs btn-default">
                        @Html.ActionLink("Assign Users", "AssignUsers", new { id = item.Id })
                    </button>
                    <button class="btn-xs btn-default">
                        @Html.ActionLink("Details", "Details", new { Id = item.Id })
                    </button>
                    <button class="btn-xs btn-default">
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                    </button>
                </td>
            </tr>
        }
    </table>
}
    @*Project Manager and Developer views*@
else /*if (User.IsInRole("ProjectManager"))*/
{
    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Create New", "Create")
        </button>
    </p>

    <table class="stripe hover table">
        <thead>
            <tr class="warning">

                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>

                    <button class="btn-xs btn-default">
                        @Html.ActionLink("Details", "Details", new { Id = item.Id })
                    </button>
                    @if (User.IsInRole("ProjectManager"))
                    {
                    <button class="btn-xs btn-default">
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                    </button>
                    <button class="btn-xs btn-default">
                        @Html.ActionLink("Assign Users", "AssignUsers", new { id = item.Id })
                    </button>
                    }
                </td>
            </tr>
        }

    </table>
}
@*else
{
    <table class="stripe hover table" id="whatever">
        <thead>
            <tr class="warning">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="success">

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>
                    <td>
                        <button class="btn-xs btn-default">
                            @Html.ActionLink("Details", "Details", new { Id = item.Id })
                        </button>
                    </td>
                </tr>
            }
    </table>
}*@
<!--jQuery-->
@*<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>*@


<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@

<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $('#whatever').DataTable();
</script>

<script>
    $('.table').DataTable();
</script>
